/* background-color: hsl(252, 99%, 71%); */
/* background-color: hsl(66, 84%, 67%); */


body {
    background-color: #1e1e1e;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0px;
}
